.App1 {
    text-align: center;
    background: #83a4d4;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #b6fbff, #83a4d4);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #b6fbff, #83a4d4);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.symptom {
    margin: 3%;
    font-family: 'Roboto', sans-serif;
}

.symptom h1 {
    font-size: 20px;
    border: 2px solid #264a97;
    background-color: #d1defa;
    color: #264a97;
    display: inline-block;
    padding: 1% 4%;
    border-radius: 100px;
}

.symptom div {
    margin: 3%;
}

.symptom div a {
    margin: 4%;
    text-transform: uppercase;
    border: 2px solid #264a97;
    background-color: #f8faff;
    color: #264a97;
    padding: 1% 4%;
    border-radius: 100px;
    transition: all 0.3s ease-in-out 0s;
}

.symptom div a:hover {
    background-color: #d1defa;
    transition: all 0.3s ease-in-out 0s;
}

.show {
    display: none;
    /* opacity: 0; */
}

.showdep,
.showfear,
.showanger,
.showphone {
    display: none;
}

a {
    cursor: pointer;
}

.symp {
    background-color: #dae4fd;
    padding: 2%;
    text-align: left;
    border: 2px solid #264a97;
    border-radius: 0 0 50px 50px;
}

.symp h2 {
    color: #264a97;
    font-size: 50px;
}

.symp ul li {
    color: #2862dd;
    font-weight: lighter;
    font-size: 20px;
    list-style: none;
    margin: 2%;
}


/* ********************************************About Us***************************************************** */